<div class="header__nav-dash"> 
    <div class="nav__dropdown">
        <div class="nav__dropdown-header" data-header-desktop-phone="">
            <div class="nav__dropdown-icon-left"> 
                <svg class="nav__dropdown-icon-img" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.9684 1.21546C5.38659 0.408873 7.83024 1.92363 8.50901 4.37608C8.97152 6.04722 8.53349 7.79953 7.46537 8.99943C7.68413 9.28275 7.92317 9.55516 8.18267 9.81485C8.44091 10.0733 8.71168 10.3114 8.99323 10.5295C10.1927 9.45289 11.9503 9.00995 13.6263 9.47448C16.0782 10.1541 17.5902 12.5997 16.7848 15.0178C16.2565 16.6043 15.2712 17.5683 13.9571 17.8856C12.7361 18.1804 11.4197 17.867 10.2585 17.3843C7.91998 16.4122 5.6108 14.4973 4.5562 13.4419C3.4767 12.3616 1.57009 10.0491 0.606767 7.71494C0.128401 6.55585 -0.179611 5.24425 0.115904 4.02886C0.433836 2.72127 1.3929 1.74093 2.9684 1.21546ZM6.58147 4.90955C6.16878 3.41847 4.79755 2.71367 3.60122 3.1127C2.54962 3.46344 2.18488 3.98482 2.05928 4.50138C1.91127 5.11013 2.03998 5.94512 2.45551 6.95196C3.27998 8.94966 4.98986 11.0464 5.97094 12.0282C6.92827 12.9863 9.02282 14.7047 11.0263 15.5376C12.0361 15.9574 12.8752 16.0894 13.4877 15.9415C14.0071 15.8161 14.5332 15.4492 14.8873 14.3858C15.2867 13.1867 14.5807 11.8144 13.0921 11.4018C11.9842 11.0947 10.8451 11.4505 10.1672 12.1765C9.7295 12.6453 8.89506 12.9126 8.18511 12.417C7.68559 12.0684 7.2112 11.6721 6.76793 11.2285C6.32396 10.7842 5.92757 10.3087 5.57884 9.80807C5.08641 9.10115 5.34917 8.26996 5.81458 7.83119C6.53521 7.15181 6.88748 6.01524 6.58147 4.90955Z" fill="#0084AA"></path> 
                </svg>
            </div>
            
            <div class="nav__dropdown-title">+48 226 022 020</div>
        </div>
        <ul class="nav__dropdown-body"> 
            <a href="tel:+48226022020" class="nav__dropdown-link">+48 226 022 020</a>
        </ul>
    </div>
    <div class="nav__dropdown" data-header-desktop-city="">
        <div class="nav__dropdown-header">
            <div class="nav__dropdown-icon-left"> 
                <svg class="nav__dropdown-icon-img" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C10.4255 4 8.90461 4.65749 7.77503 5.84574C6.64381 7.03572 6 8.66001 6 10.3636C6 12.844 7.53632 15.2652 9.24308 17.1603C10.0789 18.0884 10.9177 18.8486 11.5484 19.3769C11.7154 19.5168 11.8673 19.64 12 19.7453C12.1327 19.64 12.2846 19.5168 12.4516 19.3769C13.0823 18.8486 13.9211 18.0884 14.7569 17.1603C16.4637 15.2652 18 12.844 18 10.3636C18 8.66001 17.3562 7.03572 16.225 5.84574C15.0954 4.65749 13.5745 4 12 4ZM12 21C11.4258 21.8187 11.4256 21.8186 11.4253 21.8184L11.4228 21.8166L11.4172 21.8127L11.3986 21.7994C11.3829 21.7882 11.3607 21.7722 11.3325 21.7517C11.2762 21.7106 11.1956 21.6511 11.0943 21.5741C10.8917 21.4203 10.6058 21.1962 10.2641 20.9101C9.58227 20.3389 8.67111 19.5139 7.75692 18.4988C5.96368 16.5076 4 13.6105 4 10.3636C4 8.16134 4.83118 6.0397 6.32548 4.46777C7.82141 2.89413 9.86146 2 12 2C14.1385 2 16.1786 2.89413 17.6745 4.46777C19.1688 6.0397 20 8.16134 20 10.3636C20 13.6105 18.0363 16.5076 16.2431 18.4988C15.3289 19.5139 14.4177 20.3389 13.7359 20.9101C13.3942 21.1962 13.1083 21.4203 12.9057 21.5741C12.8044 21.6511 12.7238 21.7106 12.6675 21.7517C12.6393 21.7722 12.6171 21.7882 12.6014 21.7994L12.5828 21.8127L12.5772 21.8166L12.5754 21.8179C12.5751 21.8181 12.5742 21.8187 12 21ZM12 21L12.5742 21.8187C12.2295 22.0604 11.7699 22.0601 11.4253 21.8184L12 21Z" fill="#0084AA"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8ZM8 10C8 7.79086 9.79086 6 12 6C14.2091 6 16 7.79086 16 10C16 12.2091 14.2091 14 12 14C9.79086 14 8 12.2091 8 10Z" fill="#0084AA"></path> 
                </svg>
            </div>
            <div class="nav__dropdown-title">{{ current_city.translate(app.request.locale).name }}</div>
        </div>
        
        <ul class="nav__dropdown-body">
            {% for city in cities %}
                <li class="nav__dropdown-item">
                    <a class="nav__dropdown-link" href="">{{ city.translate(app.request.locale).name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if is_logged_in  %}
        <a href="/{{ app.request.locale }}/customer" class="nav-item nav-item--after-drop" data-header-cabinet>
            <svg class="nav-item-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 19C4 16.2386 6.23858 14 9 14H15C17.7614 14 20 16.2386 20 19C20 20.6569 18.6569 22 17 22H7C5.34315 22 4 20.6569 4 19ZM9 16C7.34315 16 6 17.3431 6 19C6 19.5523 6.44772 20 7 20H17C17.5523 20 18 19.5523 18 19C18 17.3431 16.6569 16 15 16H9Z" fill="#0A84AA"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4ZM7 7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7C17 9.76142 14.7614 12 12 12C9.23858 12 7 9.76142 7 7Z" fill="#0A84AA"></path>
            </svg>
            <span>{% trans %}My account{% endtrans %}</span>
        </a>
    {% else %}
        <a href="#" class="nav-item nav-item--after-drop" data-show-modal="login" data-header-cabinet>
            <svg class="nav-item-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4 19C4 16.2386 6.23858 14 9 14H15C17.7614 14 20 16.2386 20 19C20 20.6569 18.6569 22 17 22H7C5.34315 22 4 20.6569 4 19ZM9 16C7.34315 16 6 17.3431 6 19C6 19.5523 6.44772 20 7 20H17C17.5523 20 18 19.5523 18 19C18 17.3431 16.6569 16 15 16H9Z" fill="#0A84AA"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4ZM7 7C7 4.23858 9.23858 2 12 2C14.7614 2 17 4.23858 17 7C17 9.76142 14.7614 12 12 12C9.23858 12 7 9.76142 7 7Z" fill="#0A84AA"></path>
            </svg>
            <span>{% trans %}Login{% endtrans %}</span>
        </a>
    {% endif  %}
        
    <div class="nav-item" data-header-fav="">
        <div class="header__nav-fav-icon-count"> 
            <a href="/{{ app.request.locale }}/wishlist" class="wishlist_products_counter top_wishlist-heart top_wishlist- wishlist-counter-with-products">
                <span class="wishlist_products_counter_text">Wishlist -</span> <span class="wishlist_products_counter_number">{{ wishlist.getWishlistItems()|length }}</span>
            </a>
        </div> 
        
        <a href="/{{ app.request.locale }}/wishlist" class="nav-item header__nav-fav-icon-text">{% trans %}Wishlist{% endtrans %}</a>
    </div>
    
    <div class="nav__dropdown-separated" data-header-desktop-lang="">
        <div class="nav__dropdown-separated-header">
            <div class="nav__dropdown-separated-title">{{ language.name }}</div>
        </div>
        
        <ul class="nav__dropdown-separated-body">
            {% for lang in languages %}
                {% if lang.code != language.code  %}
                    <li class="nav__dropdown-separated-item">
                        <a class="nav__dropdown-separated-link" href="{{ lang.url }}"> {{ lang.name }} </a>
                    </li>
                {% endif  %}
            {% endfor %}
        </ul>
    </div>
</div>
