<div class="sidebar-overlay"></div>

<div class="sidebar">
    <div class="sidebar__wrapper animated">
        <div class="sidebar-categories">
            {{ include('frontend/layout/components/sidebar.html.twig') }}
        </div>
    </div>

</div>

<div class="cart">
    {{ include('frontend/layout/components/cart.html.twig') }}
    <div class="cart__loader" style="display: none;">
        <div class="cart__loader-spinner">
            <?xml version="1.0" encoding="utf-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" r="32" stroke-width="10" stroke="#0084aa" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round">
            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
        </circle>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container container--section">
        <div class="footer__inner">
            <div class="footer__wrapper">

                <div class="footer__col footer__col--mobile-worktime">
                    <div class="header__nav-worktime">
                        <div class="header__nav-worktime-title">
                            {% trans %}Working time{% endtrans %}:
                        </div>
                        <div class="header__nav-worktime-wrapper">
                            <div class="header__nav-worktime-el header__nav-worktime-el--active">
                                <div class="header__nav-worktime-days">{% trans %}Su-Th{% endtrans %}</div>
                                <div class="header__nav-worktime-time">12:00-22:00</div>
                            </div>

                            <div class="header__nav-worktime-el">
                                <div class="header__nav-worktime-days">{% trans %}Fr-Sa{% endtrans %}</div>
                                <div class="header__nav-worktime-time">12:00-23:00</div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="footer__col">
                    <div class="footer__col-title">
                        {% trans %}Navigation{% endtrans %}:
                    </div>

                    {{ include('frontend/layout/components/navigation.html.twig') }}
                </div>
                
                <div class="footer__col footer__col--addresses">
                    <div class="footer__col-title">
                        {% trans %}Addresses{% endtrans %}:
                    </div>
                    <div class="footer__col-link">
                        Chrystiana Piotra Aignera 6, 00-710, Warszawa
                    </div>
                </div>

                <div class="footer__col footer__col--desktop-worktime">
                    <div class="footer__col-worktime">
                        <div class="footer__col-title"> {% trans %}Working time{% endtrans %}:</div>
                        <div class="footer__col-link">
                            {% trans %}Su-Th{% endtrans %}
                            <p>12:00 - 22:00</p>
                        </div>
                        
                        <div class="footer__col-link">
                            {% trans %}Fr-Sa{% endtrans %}
                            <p>12:00-23:00</p>
                        </div> 
                        <a href="tel:+48226022020" class="footer__col-link">+48 226 022 020</a>
                        
                        <div class="footer__nav-socials-wrapper">
                            <div class="header__nav-socials-wrapper">
                                <div class="footer__col-title"> {% trans %}Social{% endtrans %}:</div>
                                <div class="header__nav-socials-elements"> 
                                    <a href="https://facebook.com/seabuspl/" class="header__nav-socials-el" target="_blank"> 
                                        <svg class="header__nav-socials-el-img" width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="31" height="31" rx="2" fill="#02BFC5"></rect> <path d="M20.1399 30.9999V20.5085H23.383L23.8686 16.4198H20.1399V13.8093C20.1399 12.6256 20.4426 11.8188 22.0061 11.8188L24 11.8178V8.16093C23.655 8.11129 22.4715 8 21.0945 8C18.2197 8 16.2515 9.90534 16.2515 13.4046V16.4199H13V20.5086H16.2514V31L20.1399 30.9999Z" fill="white"></path> 
                                        </svg> 
                                    </a> 
                                    
                                    <a href="https://instagram.com/seabus.pl" class="header__nav-socials-el" target="_blank"> 
                                        <svg class="header__nav-socials-el-img" width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="31" height="31" rx="2" fill="#02BFC5"></rect> <path d="M25.9705 15.5744C25.9705 17.0526 25.9766 18.5309 25.9693 20.0091C25.9523 23.3778 23.3638 25.9659 20.0088 25.9708C17.0147 25.9744 14.0193 25.9744 11.0251 25.9708C7.6519 25.9671 5.0537 23.4021 5.03791 20.0383C5.02333 17.021 5.02333 14.0037 5.03791 10.9865C5.0537 7.59232 7.60331 5.04914 10.9959 5.03577C14.0108 5.02483 17.0256 5.02361 20.0404 5.03577C23.3917 5.05036 25.9474 7.6069 25.9681 10.9561C25.9778 12.4963 25.9705 14.0354 25.9705 15.5744ZM15.5157 7.01123C14.0581 7.01123 12.6005 7.00758 11.1429 7.01244C8.71232 7.01974 7.01541 8.71195 7.01177 11.136C7.00691 14.0536 7.00691 16.9712 7.01177 19.8876C7.01541 22.2387 8.70989 23.9686 11.0542 23.9819C14.0302 23.999 17.0062 24.0014 19.9809 23.9807C22.2876 23.9649 23.9833 22.2326 23.9906 19.9155C23.9991 16.9578 24.0003 14.0001 23.9906 11.0424C23.9833 8.73991 22.2572 7.02581 19.9493 7.01366C18.4711 7.00515 16.994 7.01123 15.5157 7.01123Z" fill="white"></path> <path d="M11.0363 15.4612C11.0436 12.4524 13.5179 10.0248 16.5667 10.0369C19.5439 10.0491 21.9757 12.5217 21.9684 15.5281C21.9599 18.5089 19.4904 20.9609 16.4987 20.9585C13.479 20.956 11.029 18.4907 11.0363 15.4612ZM16.5206 18.9429C18.4215 18.9332 19.9496 17.4051 19.9557 15.5062C19.9617 13.5927 18.3863 12.0124 16.4841 12.0233C14.605 12.0355 13.0575 13.5915 13.0466 15.4807C13.0356 17.3978 14.5953 18.9514 16.5206 18.9429Z" fill="white"></path> <path d="M22.3191 9.93052C22.3301 10.6271 21.8138 11.1729 21.1263 11.1924C20.4315 11.2118 19.8788 10.6952 19.8582 10.0071C19.8363 9.28135 20.3708 8.71364 21.0802 8.70877C21.764 8.70391 22.3082 9.24124 22.3191 9.93052Z" fill="white"></path> 
                                        </svg> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="footer__phone-btn"> 
                            <a href="tel:+48226022020" class="btn btn--footer">
                                <div class="btn-title"> Сделать звонок</div>
                            </a>
                        </div>
                        
                        <div class="footer__mobile-payment-methods">                                
                            <svg
                                xmlns:dc="http://purl.org/dc/elements/1.1/"
                                xmlns:cc="http://creativecommons.org/ns#"
                                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                xmlns:svg="http://www.w3.org/2000/svg"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                version="1.1"
                                id="Layer_1"
                                x="0px"
                                y="0px"
                                width="45"
                                height="22"
                                viewBox="0 0 1000.046 323.653"
                                enable-background="new 0 0 258.381 161.154"
                                xml:space="preserve"
                                inkscape:version="0.91 r13725"
                                sodipodi:docname="Visa_2006.svg"><metadata
                                id="metadata23"><rdf:RDF><cc:Work
                                    rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
                                        rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
                                id="defs21"></defs>
                                <g id="g4158"
                                transform="matrix(4.4299631,0,0,4.4299631,-81.165783,-105.04783)">
                                <polygon
                                    points="116.145,95.719 97.858,95.719 109.296,24.995 127.582,24.995 "
                                    id="polygon9"
                                    style="fill:#00579f" /><path
                                    d="m 182.437,26.724 c -3.607,-1.431 -9.328,-3.011 -16.402,-3.011 -18.059,0 -30.776,9.63 -30.854,23.398 -0.15,10.158 9.105,15.8 16.027,19.187 7.075,3.461 9.48,5.72 9.48,8.805 -0.072,4.738 -5.717,6.922 -10.982,6.922 -7.301,0 -11.213,-1.126 -17.158,-3.762 l -2.408,-1.13 -2.559,15.876 c 4.289,1.954 12.191,3.688 20.395,3.764 19.188,0 31.68,-9.481 31.828,-24.153 0.073,-8.051 -4.814,-14.22 -15.35,-19.261 -6.396,-3.236 -10.313,-5.418 -10.313,-8.729 0.075,-3.01 3.313,-6.093 10.533,-6.093 5.945,-0.151 10.313,1.278 13.622,2.708 l 1.654,0.751 2.487,-15.272 0,0 z"
                                    id="path11"
                                    inkscape:connector-curvature="0"
                                    style="fill:#00579f" /><path
                                    d="m 206.742,70.664 c 1.506,-4.063 7.301,-19.788 7.301,-19.788 -0.076,0.151 1.503,-4.138 2.406,-6.771 l 1.278,6.094 c 0,0 3.463,16.929 4.215,20.465 -2.858,0 -11.588,0 -15.2,0 l 0,0 z m 22.573,-45.669 -14.145,0 c -4.362,0 -7.676,1.278 -9.558,5.868 l -27.163,64.855 19.188,0 c 0,0 3.159,-8.729 3.838,-10.609 2.105,0 20.771,0 23.479,0 0.525,2.483 2.182,10.609 2.182,10.609 l 16.932,0 -14.753,-70.723 0,0 z"
                                    id="path13"
                                    inkscape:connector-curvature="0"
                                    style="fill:#00579f" /><path
                                    d="M 82.584,24.995 64.675,73.222 62.718,63.441 C 59.407,52.155 49.023,39.893 37.435,33.796 l 16.404,61.848 19.338,0 28.744,-70.649 -19.337,0 0,0 z"
                                    id="path15"
                                    inkscape:connector-curvature="0"
                                    style="fill:#00579f" /><path
                                    d="m 48.045,24.995 -29.422,0 -0.301,1.429 c 22.951,5.869 38.151,20.016 44.396,37.02 L 56.322,30.94 c -1.053,-4.517 -4.289,-5.796 -8.277,-5.945 l 0,0 z"
                                    id="path17"
                                    inkscape:connector-curvature="0"
                                    style="fill:#faa61a" />
                                    </g>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="30" viewBox="0 0 146.8024 120.4146">
                                <g>
                                    <rect width="146.8024" height="120.4146" style="fill: none"/>
                                    <g>
                                    <path d="M358.94359,351.0513V345.052a3.558,3.558,0,0,0-3.7594-3.7994,3.70192,3.70192,0,0,0-3.3595,1.6997,3.511,3.511,0,0,0-3.1596-1.6997,3.16116,3.16116,0,0,0-2.7996,1.4198v-1.1798h-2.0798v9.5587h2.0997v-5.2994a2.23566,2.23566,0,0,1,2.3397-2.5396c1.3798,0,2.0798.8999,2.0798,2.5196v5.3194h2.0997v-5.2994a2.25437,2.25437,0,0,1,2.3397-2.5396c1.41971,0,2.0996.8999,2.0996,2.5196v5.3194Zm31.0758-9.5587h-3.3995V338.593h-2.0997v2.8996h-1.9398v1.8997h1.9398v4.3594c0,2.2196.8599,3.5396,3.3195,3.5396a4.88466,4.88466,0,0,0,2.5996-.74l-.5998-1.7798a3.83859,3.83859,0,0,1-1.8398.54c-1.0399,0-1.3798-.6401-1.3798-1.5997v-4.3195h3.3995Zm17.73761-.24a2.81917,2.81917,0,0,0-2.51961,1.3998v-1.1598h-2.0598v9.5587h2.0797v-5.3594c0-1.5797.6799-2.4596,2.0399-2.4596a3.38832,3.38832,0,0,1,1.2997.24l.6399-1.9598a4.44615,4.44615,0,0,0-1.47979-.2599Zm-26.81631.9998a7.14807,7.14807,0,0,0-3.8995-.9998c-2.4197,0-3.9794,1.1598-3.9794,3.0595,0,1.5599,1.1598,2.5198,3.2994,2.8197l.9799.1399c1.1398.1598,1.6798.4599,1.6798.9998,0,.7399-.76,1.16-2.1797,1.16a5.09159,5.09159,0,0,1-3.1796-1l-.9798,1.6198a6.89734,6.89734,0,0,0,4.1394,1.24c2.7596,0,4.3593-1.3,4.3593-3.1197,0-1.6798-1.2597-2.5597-3.3394-2.8597l-.9798-.14c-.9-.1199-1.6198-.2997-1.6198-.9396,0-.7.6797-1.12,1.8197-1.12a6.16291,6.16291,0,0,1,2.9796.8199Zm55.71231-.9998a2.81917,2.81917,0,0,0-2.51961,1.3998v-1.1598h-2.0597v9.5587h2.0796v-5.3594c0-1.5797.68-2.4596,2.03971-2.4596a3.3889,3.3889,0,0,1,1.3.24l.63989-1.9598a4.44671,4.44671,0,0,0-1.47989-.2599Zm-26.79641,5.0191a4.82943,4.82943,0,0,0,5.0995,5.0196,5.00684,5.00684,0,0,0,3.4394-1.14l-.9998-1.6798a4.20185,4.20185,0,0,1-2.49969.8599,3.06518,3.06518,0,0,1,0-6.1191,4.2013,4.2013,0,0,1,2.49969.86l.9998-1.6799a5.00768,5.00768,0,0,0-3.4394-1.1398,4.8293,4.8293,0,0,0-5.0995,5.0191Zm19.47741,0v-4.7791h-2.07971v1.1598a3.62617,3.62617,0,0,0-3.0196-1.3998,5.02538,5.02538,0,0,0,0,10.0387,3.6263,3.6263,0,0,0,3.0196-1.4v1.16H429.334Zm-7.739,0a2.89437,2.89437,0,1,1,2.89979,3.0597,2.86746,2.86746,0,0,1-2.89979-3.0597Zm-25.09641-5.0191a5.02359,5.02359,0,0,0,.14,10.0387,5.80955,5.80955,0,0,0,3.91941-1.34l-1.01991-1.5397a4.55355,4.55355,0,0,1-2.7796.9998,2.65471,2.65471,0,0,1-2.8596-2.3398H400.998c.02-.2598.03989-.5198.03989-.7999-.01989-2.9794-1.8597-5.0191-4.5393-5.0191Zm-.0401,1.8597a2.37413,2.37413,0,0,1,2.4197,2.3197h-4.9593a2.46089,2.46089,0,0,1,2.5396-2.3197Zm52.1729,3.1594v-8.6185h-2.0798v4.9992a3.62611,3.62611,0,0,0-3.0195-1.3998,5.02537,5.02537,0,0,0,0,10.0387,3.62624,3.62624,0,0,0,3.0195-1.4v1.16h2.0798Zm3.4668,3.3943a.95392.95392,0,0,1,.3762.0746.97593.97593,0,0,1,.3074.2037.95726.95726,0,0,1,.2071.3027.93387.93387,0,0,1,0,.7371.96452.96452,0,0,1-.2071.3015.998.998,0,0,1-.3074.2048.93913.93913,0,0,1-.3762.0758.96809.96809,0,0,1-.8976-.5821.93625.93625,0,0,1,0-.7371.96319.96319,0,0,1,.2062-.3027.94913.94913,0,0,1,.3085-.2037A.98157.98157,0,0,1,452.09819,349.666Zm0,1.6906a.70738.70738,0,0,0,.2866-.0582.7542.7542,0,0,0,.2327-.1584.74473.74473,0,0,0,0-1.048.73833.73833,0,0,0-.2327-.157.71686.71686,0,0,0-.2866-.0571.74733.74733,0,0,0-.29219.0571.7299.7299,0,0,0-.23631.157.74447.74447,0,0,0,0,1.048.745.745,0,0,0,.23631.1584A.73739.73739,0,0,0,452.09819,351.3566Zm.0559-1.1854a.40175.40175,0,0,1,.2621.0758.253.253,0,0,1,.0919.2061.23989.23989,0,0,1-.0733.1803.3496.3496,0,0,1-.2085.0874l.2888.333h-.2258l-.2678-.3307h-.0862v.3307h-.1886v-.8826Zm-.2188.1655v.2352h.2166a.21318.21318,0,0,0,.1188-.0293.0996.0996,0,0,0,.0441-.0895.09807.09807,0,0,0-.0441-.0875.21492.21492,0,0,0-.1188-.0289Zm-11.0428-4.065a2.89423,2.89423,0,1,1,2.89951,3.0597,2.86735,2.86735,0,0,1-2.89951-3.0597Zm-70.2304,0v-4.7791h-2.0798v1.1598a3.62617,3.62617,0,0,0-3.0196-1.3998,5.02538,5.02538,0,0,0,0,10.0387,3.6263,3.6263,0,0,0,3.0196-1.4v1.16h2.0798Zm-7.7389,0a2.89423,2.89423,0,1,1,2.8995,3.0597A2.86735,2.86735,0,0,1,362.92319,346.2717Z" transform="translate(-322.59839 -245.7927)" style="fill: #231f20"/>
                                    <g>
                                        <rect x="57.6515" y="22.8537" width="31.5" height="56.6064" style="fill: #ff5f00"/>
                                        <path d="M382.25009,296.9496A35.93751,35.93751,0,0,1,396,268.6464a36,36,0,1,0,0,56.6064A35.938,35.938,0,0,1,382.25009,296.9496Z" transform="translate(-322.59839 -245.7927)" style="fill: #eb001b"/>
                                        <path d="M454.24519,296.9496A35.99866,35.99866,0,0,1,396,325.2528a36.0052,36.0052,0,0,0,0-56.6064,35.99866,35.99866,0,0,1,58.24519,28.3032Z" transform="translate(-322.59839 -245.7927)" style="fill: #f79e1b"/>
                                        <path d="M450.81019,319.2565v-1.1589h.4673v-.2361h-1.1901v.2361h.4675v1.1589Zm2.3105,0v-1.3973h-.3648l-.4196.9611-.4197-.9611h-.365v1.3973h.2576v-1.054l.3935.9087h.2671l.3935-.911v1.0563Z" transform="translate(-322.59839 -245.7927)" style="fill: #f79e1b"/>
                                    </g>
                                    </g>
                                </g>
                                </svg>

                        </div>
                    </div>
                </div>

                 <div class="footer__col footer__col--center footer__col--qr"> 
                    <a class="footer__logo footer__logo--desk" href="/{{ app.request.locale }}"> 
                        <svg class="footer__logo-img" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="394.852px" height="373.686px" viewBox="0 0 394.852 373.686" enable-background="new 0 0 394.852 373.686" xml:space="preserve"> 
                            <g> <g> 
                            <path fill="#74BDBC" d="M210.193,254.842v2.615c0,4.326,3.519,7.845,7.845,7.845v5.23c-4.272,0-8.072-2.06-10.46-5.237
                            c-2.388,3.178-6.187,5.237-10.459,5.237c-4.272,0-8.072-2.06-10.46-5.237c-2.388,3.178-6.187,5.237-10.46,5.237
                            c-4.272,0-8.072-2.06-10.46-5.237c-2.388,3.178-6.187,5.237-10.46,5.237v-5.23c4.326,0,7.845-3.519,7.845-7.845v-2.615h5.23v2.615
                            c0,4.326,3.519,7.845,7.845,7.845s7.845-3.519,7.845-7.845v-2.615h5.23v2.615c0,4.326,3.519,7.845,7.845,7.845
                            c4.326,0,7.845-3.519,7.845-7.845v-2.615H210.193z">
                            </path> <path fill="#5B85A2" d="M218.038,291.45c-4.272,0-8.072-2.059-10.46-5.237c-2.388,3.178-6.187,5.237-10.459,5.237
                            c-4.272,0-8.072-2.059-10.46-5.237c-2.388,3.178-6.187,5.237-10.46,5.237c-4.272,0-8.072-2.059-10.46-5.237
                            c-2.388,3.178-6.187,5.237-10.46,5.237v-5.23c4.326,0,7.845-3.519,7.845-7.845h5.23c0,4.326,3.519,7.845,7.845,7.845
                            s7.845-3.519,7.845-7.845h5.23c0,4.326,3.519,7.845,7.845,7.845c4.326,0,7.845-3.519,7.845-7.845h5.23
                            c0,4.326,3.519,7.845,7.845,7.845V291.45z"></path> <path fill="#74BDBC" d="M106.697,123.974v2.615c0,4.326,3.519,7.845,7.845,7.845v5.23c-4.272,0-8.072-2.06-10.459-5.237
                            c-2.388,3.178-6.187,5.237-10.459,5.237c-4.272,0-8.072-2.06-10.46-5.237c-2.388,3.178-6.187,5.237-10.459,5.237
                            c-4.272,0-8.072-2.06-10.46-5.237c-2.388,3.178-6.187,5.237-10.459,5.237v-5.23c4.326,0,7.845-3.519,7.845-7.845v-2.615h5.23
                            v2.615c0,4.326,3.519,7.845,7.845,7.845c4.326,0,7.845-3.519,7.845-7.845v-2.615h5.23v2.615c0,4.326,3.519,7.845,7.845,7.845
                            c4.326,0,7.845-3.519,7.845-7.845v-2.615H106.697z"></path> <path fill="#5B85A2" d="M114.541,160.582c-4.272,0-8.072-2.059-10.459-5.237c-2.388,3.178-6.187,5.237-10.459,5.237
                            c-4.272,0-8.072-2.059-10.46-5.237c-2.388,3.178-6.187,5.237-10.459,5.237c-4.272,0-8.072-2.059-10.46-5.237
                            c-2.388,3.178-6.187,5.237-10.459,5.237v-5.23c4.326,0,7.845-3.519,7.845-7.845h5.23c0,4.326,3.519,7.845,7.845,7.845
                            c4.326,0,7.845-3.519,7.845-7.845h5.23c0,4.326,3.519,7.845,7.845,7.845c4.326,0,7.845-3.519,7.845-7.845h5.23
                            c0,4.326,3.519,7.845,7.845,7.845V160.582z"></path> <g> <path fill="#74BDBC" d="M309.856,190.547c2.132,2.132,5.6,2.132,7.731,0l4.227,4.227c-2.23,2.23-5.163,3.346-8.093,3.346
                            s-5.863-1.115-8.093-3.346L309.856,190.547z"></path> <path fill="#74BDBC" d="M285.939,190.547c2.132,2.132,5.6,2.132,7.731,0l4.227,4.227c-2.23,2.23-5.163,3.346-8.093,3.346
                            c-2.93,0-5.863-1.115-8.093-3.346L285.939,190.547z"></path> <path fill="#74BDBC" d="M296.66,209.723l4.227-4.227c2.132,2.132,5.6,2.132,7.731,0l4.227,4.227
                            c-2.23,2.23-5.163,3.345-8.093,3.345S298.89,211.953,296.66,209.723z"></path> <path fill="#74BDBC" d="M272.743,209.723l4.227-4.227c2.132,2.132,5.6,2.132,7.731,0l4.227,4.227
                            c-2.23,2.23-5.163,3.345-8.093,3.345S274.973,211.953,272.743,209.723z"></path> <path fill="#74BDBC" d="M302.639,222.919l4.227,4.227c-2.23,2.23-5.163,3.345-8.093,3.345c-2.93,0-5.863-1.115-8.093-3.345
                            l4.227-4.227C297.04,225.051,300.508,225.051,302.639,222.919z"></path> <path fill="#74BDBC" d="M270.991,222.919c2.132,2.132,5.6,2.132,7.731,0l4.227,4.227c-2.23,2.23-5.163,3.345-8.093,3.345
                            c-2.93,0-5.863-1.115-8.093-3.345L270.991,222.919z"></path> <path fill="#74BDBC" d="M254.805,223.434l4.227,4.227c-2.23,2.23-5.163,3.346-8.093,3.346s-5.863-1.115-8.093-3.346l4.227-4.227
                            C249.205,225.565,252.673,225.565,254.805,223.434z"></path> <path fill="#74BDBC" d="M230.887,214.465l4.227,4.227c-2.23,2.23-5.163,3.346-8.093,3.346c-2.93,0-5.863-1.115-8.093-3.346
                            l4.227-4.227C225.288,216.596,228.756,216.596,230.887,214.465z"></path> <path fill="#74BDBC" d="M266.763,237.868l4.227,4.227c-2.23,2.23-5.163,3.345-8.093,3.345s-5.863-1.115-8.093-3.345l4.227-4.227
                            C261.164,239.999,264.632,239.999,266.763,237.868z"></path> <path fill="#74BDBC" d="M194.183,185.094c0.52,19.14,8.754,37.458,22.814,50.514l0.221,0.203
                            c13.271,12.329,30.563,19.119,48.684,19.119h14.933c21.705,0,40.22-13.702,47.494-32.886h21.269v-5.979
                            c-3.298,0-5.979-2.682-5.979-5.979V183.1c3.609-2.73,5.979-7.017,5.979-11.881v-8.969c0-6.389-2.248-12.255-5.979-16.874v-33.951
                            c0-23.08-18.775-41.855-41.855-41.855c-23.08,0-41.855,18.775-41.855,41.855v33.951c-3.731,4.619-5.979,10.485-5.979,16.874
                            v8.969c0,4.906,2.41,9.232,6.072,11.959h-0.093v16.35c-4.906,2.93-10.568,4.577-16.539,4.577h-0.487
                            c-10.766,0-20.602-5.45-26.306-14.584l-3.017-4.825c16.363-4.58,28.411-19.591,28.411-37.395c0-6.796-1.812-13.516-5.244-19.436
                            l-2.586-4.467l-2.586,4.467c-5.878,10.144-16.778,16.446-28.45,16.446c-11.672,0-22.572-6.302-28.453-16.446l-2.586-4.467
                            l-2.586,4.467c-3.429,5.92-5.241,12.64-5.241,19.436C164.238,165.658,177.046,181.046,194.183,185.094z M212.214,178.876
                            c4.215-5.734,8.53-15.812,8.784-33.033c4.888-2.553,9.256-6.102,12.712-10.518c1.501,3.815,2.281,7.881,2.281,11.977
                            C235.991,162.271,225.924,174.914,212.214,178.876z M265.887,185.865c0.966,0.197,1.967,0.302,2.99,0.302h3.573l-1.782,2.852
                            c-1.369,2.191-2.99,4.153-4.78,5.911V185.865z M337.639,111.426v28.468c-3.543-2.377-7.674-3.934-12.129-4.401
                            c3.842-5.029,6.15-11.286,6.15-18.088v-14.948h-5.979v5.979h-16.488c-3.994,0-7.746-1.558-10.569-4.38l-7.582-7.579h-6.075
                            l-4.132,8.263c-0.661,1.321-1.731,2.302-2.99,2.936v-5.22h-5.979v14.948c0,6.802,2.308,13.059,6.15,18.091
                            c-4.455,0.463-8.586,2.021-12.129,4.398v-28.468c0-19.783,16.093-35.876,35.876-35.876
                            C321.546,75.549,337.639,91.643,337.639,111.426z M301.763,141.322c-13.187,0-23.917-10.73-23.917-23.917v-3.369
                            c3.579-0.861,6.637-3.223,8.338-6.622l2.446-4.894l5.764,5.764c3.952,3.952,9.205,6.132,14.799,6.132h16.488v2.99
                            C325.681,130.592,314.951,141.322,301.763,141.322z M343.619,171.219c0,4.945-4.024,8.969-8.969,8.969h-25.412
                            c-2.473,0-4.485-2.012-4.485-4.484c0-2.472,2.012-4.484,4.485-4.484h22.422v-8.246c0-8.64-7.032-15.672-15.675-15.672
                            c-4.183,0-8.117,1.629-11.08,4.586l-3.142,3.145l-3.139-3.142c-2.963-2.96-6.9-4.589-11.083-4.589
                            c-8.643,0-15.675,7.032-15.675,15.672v8.246h22.422c2.473,0,4.484,2.012,4.484,4.484c0,2.472-2.012,4.484-4.484,4.484h-25.412
                            c-4.945,0-8.969-4.024-8.969-8.969v-8.969c0-11.537,9.388-20.928,20.928-20.928h2.99v-0.057
                            c5.005,3.77,11.202,6.036,17.938,6.036c6.736,0,12.933-2.266,17.938-6.036v0.057h2.99c11.54,0,20.928,9.391,20.928,20.928
                            V171.219z M294.289,165.24h-16.443v-2.266c0-5.345,4.35-9.692,9.696-9.692c2.586,0,5.023,1.007,6.855,2.84l7.367,7.367
                            l7.367-7.37c1.833-1.83,4.266-2.837,6.855-2.837c5.346,0,9.695,4.347,9.695,9.692v2.266h-16.443
                            c-2.927,0-5.573,1.205-7.474,3.148C299.862,166.445,297.216,165.24,294.289,165.24z M330.18,216.064
                            c0.933-3.842,1.48-7.833,1.48-11.959v-17.938h2.99c1.023,0,2.024-0.105,2.99-0.302v24.219c0,2.176,0.583,4.219,1.605,5.979
                            H330.18z M200.189,186.021c0.966,0.072,1.931,0.146,2.915,0.146c1.411,0,2.801-0.087,4.174-0.23l4.224,6.757
                            c6.807,10.888,18.539,17.391,31.38,17.391h0.487c13.265,0,25.367-6.688,32.372-17.893l3.764-6.024h14.784
                            c2.927,0,5.573-1.205,7.474-3.148c1.901,1.943,4.547,3.148,7.474,3.148h16.443v17.938c0,24.728-20.117,44.845-44.845,44.845
                            h-14.933c-16.605,0-32.45-6.221-44.615-17.522l-0.221-0.203C208.447,219.511,200.94,203.164,200.189,186.021z M170.218,147.302
                            c0-4.096,0.78-8.162,2.281-11.98c3.453,4.413,7.818,7.958,12.703,10.512c0.036,2.667,0.152,5.271,0.386,7.728l5.952-0.565
                            c-0.143-1.492-0.239-3.047-0.305-4.634c3.794,1.229,7.785,1.928,11.869,1.928c4.078,0,8.06-0.697,11.851-1.928
                            c-0.909,21.573-8.849,29.23-11.851,31.347c-2.472-1.734-8.299-7.154-10.784-20.982l-5.887,1.058
                            c1.629,9.065,4.613,15.101,7.537,19.083C180.272,174.899,170.218,162.265,170.218,147.302z"></path> </g> <g> <g> <g> <path fill="#5B85A2" d="M100.343,100.265c-9.887,2.208-18.547-6.453-16.338-16.339c1.113-4.985,5.136-9.007,10.121-10.12
                            c9.887-2.208,18.546,6.453,16.338,16.339C109.35,95.13,105.327,99.152,100.343,100.265z M98.737,79.507
                            c-5.396-1.03-10.061,3.635-9.032,9.031c0.572,2.999,3.025,5.453,6.024,6.026c5.397,1.032,10.064-3.635,9.033-9.033
                            C104.189,82.532,101.736,80.079,98.737,79.507z"></path> </g> <g> <path fill="#5B85A2" d="M185.783,100.613c-7.486,0-13.577-6.091-13.577-13.577c0-7.486,6.09-13.577,13.577-13.577
                            c7.486,0,13.577,6.091,13.577,13.577C199.36,94.522,193.269,100.613,185.783,100.613z M185.783,79.363
                            c-4.23,0-7.672,3.442-7.672,7.672c0,4.231,3.442,7.672,7.672,7.672c4.231,0,7.672-3.442,7.672-7.672
                            C193.456,82.805,190.014,79.363,185.783,79.363z"></path> </g> <path fill="#5B85A2" d="M172.262,88.12c-0.029-0.359-0.055-0.719-0.055-1.085c0-1.699,0.327-3.319,0.9-4.82h-63.196
                            c0.572,1.5,0.9,3.121,0.9,4.82c0,0.366-0.026,0.726-0.055,1.085H172.262z"></path> </g> <path fill="#5B85A2" d="M84.557,82.216H63.537v5.905h20.174c-0.028-0.359-0.055-0.719-0.055-1.085
                            C83.657,85.337,83.984,83.716,84.557,82.216z"></path> <path fill="#5B85A2" d="M184.902,41.14c-0.104-0.011-0.206-0.031-0.313-0.031H91.213v5.905h93.376
                            c0.107,0,0.208-0.02,0.313-0.031V41.14z"></path> </g> <path fill="#5B85A2" d="M174.593,28.571"></path> <path fill="#5B85A2" d="M216.225,82.216l23.402-31.178c3.103-4.134,3.103-9.821,0-13.955L216.225,5.905h-58.988V0
                            c33.774,0,61.939,0,61.939,0l27.77,37.058c3.094,4.128,3.096,9.801,0.006,13.932l-27.776,37.13h-19.871
                            c0.029-0.359,0.055-0.719,0.055-1.085c0-1.699-0.328-3.319-0.9-4.82H216.225z"></path> <path fill="#5B85A2" d="M114.551,20.554h70.038c0.107,0,0.208,0.02,0.313,0.031v5.841c-0.104,0.011-0.206,0.031-0.313,0.031
                            h-70.038V20.554z"></path> <path fill="#5B85A2" d="M74.857,61.662h109.732c0.107,0,0.208,0.02,0.313,0.031v5.842c-0.104,0.011-0.206,0.031-0.313,0.031
                            H74.857V61.662z"></path> <g> <path fill="#74BDBC" d="M76.951,219.811c0,13.955,11.353,25.308,25.308,25.308c13.955,0,25.308-11.353,25.308-25.308
                            c0-13.954-11.353-25.308-25.308-25.308C88.304,194.503,76.951,205.857,76.951,219.811z M82.337,219.811
                            c0-10.985,8.937-19.922,19.922-19.922c10.985,0,19.922,8.937,19.922,19.922c0,10.985-8.937,19.922-19.922,19.922
                            C91.274,239.733,82.337,230.796,82.337,219.811z"></path> <path fill="#74BDBC" d="M86.604,219.811c0,8.632,7.023,15.655,15.655,15.655c8.632,0,15.655-7.023,15.655-15.655
                            c0-8.632-7.023-15.655-15.655-15.655C93.626,204.156,86.604,211.179,86.604,219.811z M112.136,217.034
                            c-2.327-0.536-5.759-1.134-9.503-1.134c-3.912,0-7.738,0.651-10.268,1.198c1.194-4.348,5.172-7.556,9.894-7.556
                            C106.958,209.542,110.92,212.718,112.136,217.034z M92.389,222.617c2.115-0.505,6.192-1.332,10.244-1.332
                            c3.979,0,7.626,0.802,9.504,1.298c-1.214,4.318-5.178,7.496-9.878,7.496C97.57,230.08,93.614,226.918,92.389,222.617z"></path> <path fill="#74BDBC" d="M267.397,37.821c0,8.632,7.023,15.655,15.655,15.655c8.632,0,15.655-7.023,15.655-15.655
                            c0-8.632-7.023-15.655-15.655-15.655C274.42,22.166,267.397,29.189,267.397,37.821z M292.93,35.044
                            c-2.327-0.536-5.759-1.134-9.503-1.134c-3.912,0-7.738,0.651-10.268,1.198c1.194-4.348,5.172-7.556,9.894-7.556
                            C287.752,27.552,291.714,30.728,292.93,35.044z M273.182,40.627c2.114-0.505,6.193-1.332,10.244-1.332
                            c3.979,0,7.626,0.802,9.504,1.299c-1.214,4.318-5.178,7.496-9.878,7.496C278.364,48.09,274.408,44.928,273.182,40.627z"></path> </g> <g> <line fill="#74BDBC" x1="127.716" y1="106.117" x2="181.174" y2="230.985"></line> <rect x="151.753" y="100.637" transform="matrix(-0.9193 0.3936 -0.3936 -0.9193 362.7638 262.7117)" fill="#74BDBC" width="5.385" height="135.829"></rect> </g> <g> <line fill="#74BDBC" x1="149.658" y1="115.293" x2="141.081" y2="255.121"></line> <rect x="75.324" y="182.514" transform="matrix(-0.0612 0.9981 -0.9981 -0.0612 339.1292 51.4499)" fill="#74BDBC" width="140.091" height="5.385"></rect> </g> <path fill="#5B85A2" d="M224.102,38.979c-2.6,0-4.714,2.115-4.714,4.714s2.115,4.714,4.714,4.714c2.599,0,4.714-2.115,4.714-4.714
                            S226.702,38.979,224.102,38.979z"></path> <circle fill="#74BDBC" cx="291.368" cy="120.23" r="1.563"></circle> <circle fill="#74BDBC" cx="313.044" cy="120.23" r="1.563"></circle> <path fill="#74BDBC" d="M301.683,128.657c0.667-0.824,1.496-0.899,2.394-0.637c0.305,0.089,0.607,0.23,0.874,0.403
                            c0.987,0.641,2.003,1.19,3.318,1.184c-0.12,0.098-0.156,0.127-0.193,0.157c-0.56,0.453-1.207,0.833-1.667,1.372
                            c-2.377,2.783-7.057,2.783-9.428,0c-0.493-0.578-1.143-1.021-1.723-1.528c1.188,0.007,2.194-0.589,3.217-1.192
                            c0.468-0.275,1.04-0.43,1.584-0.506C300.699,127.822,301.274,128.068,301.683,128.657z"></path> </g> <g> <path fill="#5B85A2" d="M0,306.383l4.54-2.787c0.98,2.736,3.206,5.691,5.971,7.57c3.161,2.148,5.16,1.966,6.123,0.551
                            c2.929-4.312-12.483-10.453-6.667-19.012c2.662-3.918,8.037-5.03,14.589-0.579c2.897,1.968,5.39,4.673,6.613,7.476l-4.397,2.931
                            c-1.313-2.672-3.116-4.763-5.157-6.15c-3.16-2.147-5.184-1.789-6.168-0.341c-2.886,4.247,12.504,10.42,6.756,18.881
                            c-2.617,3.852-8.047,4.974-14.631,0.5C3.916,312.941,0.968,309.35,0,306.383z"></path> <path fill="#5B85A2" d="M89.265,350.53l-1.871,4.825l-20.115-7.797l10.07-25.979l19.632,7.611l-1.87,4.825l-13.657-5.294
                            l-2.187,5.641l12.061,4.675l-1.812,4.676l-12.062-4.675l-2.33,6.012L89.265,350.53z"></path> <path fill="#5B85A2" d="M161.432,366.115l-12.822-1.731l-3.245,5.587l-6.549-0.884l16.037-25.954l6.312,0.852l8.62,29.282
                            l-6.707-0.906L161.432,366.115z M160.075,360.991l-2.952-11.163l-5.807,9.982L160.075,360.991z"></path> <path fill="#5B85A2" d="M249.105,363.505c0.493,4.79-3.021,7.953-10.305,8.704l-14.331,1.477l-2.857-27.712l13.54-1.395
                            c6.928-0.714,10.789,1.809,11.233,6.124c0.286,2.772-0.919,5.056-3.053,6.477C246.522,357.85,248.746,360.022,249.105,363.505z
                            M228.483,350.147l0.674,6.532l6.373-0.657c3.128-0.322,4.716-1.606,4.492-3.784c-0.225-2.177-2.037-3.07-5.165-2.748
                            L228.483,350.147z M242.582,363.497c-0.241-2.335-2.136-3.26-5.462-2.918l-7.482,0.771l0.706,6.849l7.482-0.772
                            C241.152,367.085,242.827,365.872,242.582,363.497z"></path> <path fill="#5B85A2" d="M300.808,346.877l-5.276-14.683l6.068-2.18l5.196,14.458c1.79,4.982,4.703,6.262,8.374,4.943
                            c3.708-1.332,5.103-4.159,3.313-9.141l-5.195-14.459l5.993-2.153l5.276,14.683c2.772,7.717-0.113,13.575-7.567,16.254
                            C309.534,357.276,303.58,354.593,300.808,346.877z"></path> <path fill="#5B85A2" d="M377.153,322.539l-0.826-5.262c2.903,0.147,6.487-0.771,9.285-2.601c3.198-2.092,3.8-4.007,2.863-5.439
                            c-2.854-4.364-14.45,7.501-20.115-1.159c-2.592-3.964-1.552-9.353,5.077-13.688c2.931-1.917,6.386-3.179,9.444-3.229l1.014,5.187
                            c-2.971,0.183-5.595,1.044-7.66,2.395c-3.198,2.091-3.646,4.096-2.687,5.562c2.811,4.296,14.428-7.535,20.027,1.025
                            c2.55,3.897,1.497,9.342-5.165,13.699C384.714,321.445,380.264,322.787,377.153,322.539z"></path> </g> </g> 
                        </svg> 
                    </a>

            
                </div>
            </div>
        </div>
    </div>
</footer>

{# Cart warning notice message #}
<input id="cartNoShippingZoneMsg" type="hidden" data-message="{% trans %}Unfortunately, we dont deliver to this zone. Please contact us by phone{% endtrans %}.">


{{ include('frontend/layout/components/modal/login.html.twig') }}

<!-- Modal success -->
<div class="modal modal--notice">
    <div class="modal-bg">
        <div class="modal-container">
            <div class="modal-header modal-header--no-logo">
                <div class="modal-header-close">
                    <svg class="modal-header-close__icon" id="Outlined" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g id="Fill"><polygon points="28.71 4.71 27.29 3.29 16 14.59 4.71 3.29 3.29 4.71 14.59 16 3.29 27.29 4.71 28.71 16 17.41 27.29 28.71 28.71 27.29 17.41 16 28.71 4.71"/></g></svg>
                </div>
            </div>
            <div class="modal__icon">
                <svg width="70" height="70" viewBox="0 0 96 96" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M48 4C23.7 4 4 23.699 4 48s19.7 44 44 44 44-19.699 44-44S72.3 4 48 4zm0 80c-19.882 0-36-16.118-36-36s16.118-36 36-36 36 16.118 36 36-16.118 36-36 36z" fill="#2de361" class="fill-000000"></path><path d="M64.284 37.17a4.002 4.002 0 0 0-5.657 0L44.485 51.313l-5.657-5.657a4 4 0 1 0-5.657 5.658l8.484 8.483a4.002 4.002 0 0 0 5.658 0l16.97-16.97a3.998 3.998 0 0 0 .001-5.657z" fill="#2de361" class="fill-000000"></path></svg>
            </div>
            <div class="modal__title">
                Success!
            </div>
        </div>
    </div>
</div>

<!-- Modal error -->
<div class="modal modal--notice">
    <div class="modal-bg">
        <div class="modal-container">
            <div class="modal-header modal-header--no-logo">
                <div class="modal-header-close">
                    <svg class="modal-header-close__icon" id="Outlined" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g id="Fill"><polygon points="28.71 4.71 27.29 3.29 16 14.59 4.71 3.29 3.29 4.71 14.59 16 3.29 27.29 4.71 28.71 16 17.41 27.29 28.71 28.71 27.29 17.41 16 28.71 4.71"/></g></svg>
                </div>
            </div>
            <div class="modal__icon">
                <svg width="70" height="70" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g data-name="1"><path d="M257 461.46c-114 0-206.73-92.74-206.73-206.73S143 48 257 48s206.73 92.74 206.73 206.73S371 461.46 257 461.46ZM257 78c-97.45 0-176.73 79.28-176.73 176.73S159.55 431.46 257 431.46s176.73-79.28 176.73-176.73S354.45 78 257 78Z" fill="#ff4444" class="fill-000000"></path><path d="M342.92 358a15 15 0 0 1-10.61-4.39L160.47 181.76a15 15 0 1 1 21.21-21.21L353.53 332.4a15 15 0 0 1-10.61 25.6Z" fill="#ff4444" class="fill-000000"></path><path d="M171.07 358a15 15 0 0 1-10.6-25.6l171.84-171.85a15 15 0 0 1 21.22 21.21L181.68 353.61a15 15 0 0 1-10.61 4.39Z" fill="#ff4444" class="fill-000000"></path></g></svg>
            </div>
            <div class="modal__title">
                Error!
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="{{ asset('js/loader.js') }}?v={{ 'now'|date('U') }}"></script>
    {# <script
    src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}">
    </script> #}
    <script type="text/javascript">
        var map;
        var geocoder;;
        var marker;
        var polygon;
        var bounds;
        
        function initMap() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {

            });
            bounds = new google.maps.LatLngBounds();
            google.maps.event.addListenerOnce(map, 'tilesloaded', function(evt) { 
                bounds = map.getBounds();
            });
            marker = new google.maps.Marker({
            });

            var zone1 = [ { lng: 21.047479, lat: 52.2249825 },
            { lng: 21.0436166, lat: 52.224667 },
            { lng: 21.0148632, lat: 52.217253 },
            { lng: 21.0079108, lat: 52.2177262 },
            { lng: 20.9893713, lat: 52.2166219 },
            { lng: 20.9873972, lat: 52.2102585 },
            { lng: 20.978814, lat: 52.1835851 },
            { lng: 20.9855948, lat: 52.1714268 },
            { lng: 20.989543, lat: 52.1391993 },
            { lng: 21.0075675, lat: 52.1398314 },
            { lng: 21.0115157, lat: 52.1370394 },
            { lng: 21.0293686, lat: 52.1358277 },
            { lng: 21.0381234, lat: 52.1385671 },
            { lng: 21.0447324, lat: 52.1311914 },
            { lng: 21.0606112, lat: 52.1269762 },
            { lng: 21.0779491, lat: 52.1283989 },
            { lng: 21.0796657, lat: 52.1371448 },
            { lng: 21.0934845, lat: 52.1538941 },
            { lng: 21.1085908, lat: 52.1631615 },
            { lng: 21.1188906, lat: 52.1745852 },
            { lng: 21.1076467, lat: 52.1863742 },
            { lng: 21.1023252, lat: 52.1985284 },
            { lng: 21.0898796, lat: 52.215465 },
            { lng: 21.0615553, lat: 52.2182521 },
            { lng: 21.047479, lat: 52.2249825 } ];
        var zone2 = [
            {lng: 20.9893713, lat: 52.2166219},
            {lng: 21.0079108, lat: 52.2177262},
            {lng: 21.0148632, lat: 52.217253},
            {lng: 21.0258928, lat: 52.2202087},
            {lng: 21.0412341, lat: 52.2241734},
            {lng: 21.0451288, lat: 52.2249985},
            {lng: 21.0483368, lat: 52.224772},
            {lng: 21.0615553, lat: 52.2182521},
            {lng: 21.0907372, lat: 52.2152545},
            {lng: 21.1023252, lat: 52.1985284},
            {lng: 21.1070883, lat: 52.1886483},
            {lng: 21.1239968, lat: 52.1930155},
            {lng: 21.1385021, lat: 52.1963827},
            {lng: 21.1548099, lat: 52.2005913},
            {lng: 21.1757525, lat: 52.2055885},
            {lng: 21.1680278, lat: 52.2111637},
            {lng: 21.1561832, lat: 52.2393445},
            {lng: 21.1388454, lat: 52.2461767},
            {lng: 21.1264859, lat: 52.2583669},
            {lng: 21.0844291, lat: 52.2804269},
            {lng: 21.0801375, lat: 52.2933427},
            {lng: 21.0588516, lat: 52.2901928},
            {lng: 21.0633148, lat: 52.3066745},
            {lng: 21.0293261, lat: 52.2986969},
            {lng: 20.9963672, lat: 52.2870428},
            {lng: 20.9663267, lat: 52.2722345},
            {lng: 20.9433241, lat: 52.2516417},
            {lng: 20.9306212, lat: 52.2480685},
            {lng: 20.9235832, lat: 52.2344036},
            {lng: 20.9141418, lat: 52.2051677},
            {lng: 20.9177467, lat: 52.1869644},
            {lng: 20.9125968, lat: 52.1731755},
            {lng:20.935256, lat: 52.1670691 },
            {lng:20.9589452, lat: 52.156644 },
            {lng: 20.9686468, lat: 52.1437412},
            {lng: 20.9774434, lat: 52.1397118},
            {lng: 20.9882992, lat: 52.1398958},
            {lng:20.986906, lat: 52.1596345 },
            {lng: 20.9855948, lat: 52.1714268},
            {lng:20.978814, lat: 52.1835851 },
            {lng: 20.9841762, lat: 52.2005244},
            {lng:20.9893713, lat: 52.2166219}];

        var zone3 = [
            {lng: 20.9125974, lat:  52.1732808},
            {lng: 20.9177473, lat:  52.1870697},
            {lng: 20.9147477, lat:  52.2059563},
            {lng: 20.9235837, lat:  52.2345089},
            {lng: 20.9306218, lat:  52.2481738},
            {lng: 20.9433247, lat:  52.251747},
            {lng: 20.9506249, lat:  52.2583141},
            {lng: 20.9635852, lat:  52.2700283},
            {lng: 20.9664595, lat:  52.2725756},
            {lng: 20.9823821, lat:  52.2801641},
            {lng: 20.9963672, lat:  52.2870428},
            {lng: 21.0141394, lat:  52.2933424},
            {lng: 21.0279567, lat:  52.2982511},
            {lng: 21.0424635, lat:  52.3018984},
            {lng: 21.0633148, lat:  52.3066745},
            {lng: 21.0588525, lat:  52.2902981},
            {lng: 21.0801385, lat:  52.293448},
            {lng: 21.0844301, lat:  52.2805322},
            {lng: 21.126487,  lat: 52.2584722},
            {lng: 21.1388465, lat:  52.246282},
            {lng: 21.1561843, lat:  52.2394498},
            {lng: 21.168029,  lat: 52.211269},
            {lng: 21.1757536, lat:  52.2056938},
            {lng: 21.1070883, lat:  52.1886483},
            {lng: 21.1076278, lat:  52.1867141},
            {lng: 21.1134872, lat:  52.1807803},
            {lng: 21.1212559, lat:  52.1732277},
            {lng: 21.1356753, lat:  52.159961},
            {lng: 21.1531841, lat:  52.1619101},
            {lng: 21.1670894, lat:  52.1638571},
            {lng: 21.2100046, lat:  52.1694376},
            {lng: 21.2232224, lat:  52.1804911},
            {lng: 21.2506883, lat:  52.2105848},
            {lng: 21.2704292, lat:  52.2175266},
            {lng: 21.2525765, lat:  52.2296196},
            {lng: 21.2233941, lat:  52.258104},
            {lng: 21.1767023, lat:  52.2507481},
            {lng: 21.1851137, lat:  52.2628321},
            {lng: 21.1729259, lat:  52.2714464},
            {lng: 21.1569613, lat:  52.2749127},
            {lng: 21.1425418, lat:  52.2789038},
            {lng: 21.1397952, lat:  52.2878301},
            {lng: 21.1300106, lat:  52.2949698},
            {lng: 21.1094112, lat:  52.2986442},
            {lng: 21.105463,  lat: 52.3072516},
            {lng: 21.0633157, lat:  52.3067798},
            {lng: 21.0690709, lat:  52.3226778},
            {lng: 21.0630628, lat:  52.3245663},
            {lng: 21.0285589, lat:  52.3279235},
            {lng: 21.0074446, lat:  52.3245663},
            {lng: 20.9750007, lat:  52.3159623},
            {lng: 20.9592079, lat:  52.3099804},
            {lng: 20.935347,  lat: 52.2975944},
            {lng: 20.926679,  lat: 52.2872644},
            {lng: 20.9123445, lat:  52.2753591},
            {lng: 20.8908868, lat:  52.2576837},
            {lng: 20.8895135, lat:  52.2402377},
            {lng: 20.876124,  lat: 52.2268858},
            {lng: 20.8486582, lat:  52.2036419},
            {lng: 20.8613612, lat:  52.1898581},
            {lng: 20.8831621, lat:  52.1803858},
            {lng: 20.9125974, lat:  52.1732808}]

        var zone4 = [
            [
                { lng: 21.2541671, lat: 52.289335},
                { lng: 21.1892791, lat: 52.3231323},
                { lng: 21.1695337, lat: 52.3311538},
                { lng: 21.0668802, lat: 52.3540165},
                { lng: 21.0050821, lat: 52.3605166},
                { lng: 20.942254,  lat:52.3582102},
                { lng: 20.8953949, lat: 52.3382383},
                { lng: 20.8416605, lat: 52.2933731},
                { lng: 20.8341915, lat: 52.2717114},
                { lng: 20.8335967, lat: 52.252149},
                { lng: 20.8093881, lat: 52.1848895},
                { lng: 20.7853555, lat: 52.1792058},
                { lng: 20.7853555, lat: 52.1518293},
                { lng: 20.7941127, lat: 52.1390838},
                { lng: 20.8825159, lat: 52.142981},
                { lng: 20.9159942, lat: 52.1212256},
                { lng: 20.9613304, lat: 52.1005635},
                { lng: 20.9968423, lat: 52.0871118},
                { lng: 21.0079403, lat: 52.0746677},
                { lng: 21.0272097, lat: 52.0705523},
                { lng: 21.0540059, lat: 52.0760857},
                { lng: 21.096932,  lat:52.0855961},
                { lng: 21.152041,  lat:52.1004655},
                { lng: 21.2460947, lat: 52.1292837},
                { lng: 21.2778564, lat: 52.1490423},
                { lng: 21.2986231, lat: 52.1629925},
                { lng: 21.3135619, lat: 52.1949438},
                { lng: 21.3275399, lat: 52.2281731},
                { lng: 21.3339853, lat: 52.249465},
                { lng: 21.3016407, lat: 52.2678975},
                { lng: 21.2851922, lat: 52.2774336},
                { lng: 21.2541671, lat: 52.289335} 
            ],
            [
                { lng: 21.1851137, lat:  52.2628321},
                { lng: 21.1767023, lat:  52.2507481},
                { lng: 21.2233941, lat:  52.258104},
                { lng: 21.2452058, lat:  52.2370818},
                { lng: 21.2525765, lat:  52.2296196},
                { lng: 21.2704292, lat:  52.2175266},
                { lng: 21.2506883, lat:  52.2105848},
                { lng: 21.2475312, lat:  52.2074426},
                { lng: 21.2335678, lat:  52.1911555},
                { lng: 21.2232224, lat:  52.1804911},
                { lng: 21.2100046, lat:  52.1694376},
                { lng: 21.1570068, lat:  52.1623122},
                { lng: 21.1356753, lat:  52.159961},
                { lng: 21.1188906, lat:  52.1745852},
                { lng: 21.1085908, lat:  52.1631615},
                { lng: 21.0934845, lat:  52.1538941},
                { lng: 21.0877826, lat:  52.1458343},
                { lng: 21.0796657, lat:  52.1371448},
                { lng: 21.0779491, lat:  52.1283989},
                { lng: 21.0606112, lat:  52.1269762},
                { lng: 21.0447324, lat:  52.1311914},
                { lng: 21.0381234, lat:  52.1385671},
                { lng: 21.0293686, lat:  52.1358277},
                { lng: 21.0259019, lat:  52.1354676},
                { lng: 21.0115157, lat:  52.1370394},
                { lng: 21.0075675, lat:  52.1398314},
                { lng: 20.989543,  lat: 52.1391993},
                { lng: 20.9765851, lat:  52.1397118},
                { lng: 20.9677885, lat:  52.1437412},
                { lng: 20.963287,  lat: 52.1495689},
                { lng: 20.9580869, lat:  52.156644},
                { lng: 20.9343977, lat:  52.1670691},
                { lng: 20.9117385, lat:  52.1731755},
                { lng: 20.8831621, lat:  52.1803858},
                { lng: 20.8613612, lat:  52.1898581},
                { lng: 20.8486582, lat:  52.2036419},
                { lng: 20.8699357, lat:  52.2215735},
                { lng: 20.8895135, lat:  52.2402377},
                { lng: 20.8908868, lat:  52.2576837},
                { lng: 20.9092923, lat:  52.2728954},
                { lng: 20.9174694, lat:  52.2798701},
                { lng: 20.926679,  lat: 52.2872644},
                { lng: 20.935347,  lat: 52.2975944},
                { lng: 20.9521851, lat:  52.3062969},
                { lng: 20.9592079, lat:  52.3099804},
                { lng: 20.9750007, lat:  52.3159623},
                { lng: 21.0104295, lat:  52.3250733},
                { lng: 21.0285589, lat:  52.3279235},
                { lng: 21.0512194, lat:  52.325722},
                { lng: 21.0630628, lat:  52.3245663},
                { lng: 21.0690709, lat:  52.3226778},
                { lng: 21.0624565, lat:  52.3066745},
                { lng: 21.105463,  lat: 52.3072516},
                { lng: 21.1094112, lat:  52.2986442},
                { lng: 21.1300106, lat:  52.2949698},
                { lng: 21.1397952, lat:  52.2878301},
                { lng: 21.1425418, lat:  52.2789038},
                { lng: 21.1729259, lat:  52.2714464},
                { lng: 21.1851137, lat:  52.2628321}
        ]]; 

            polygon1 = new google.maps.Polygon({
                path: zone1,
                geodesic: true,
                strokeColor: '#FFd000',
                strokeOpacity: 1.0,
                strokeWeight: 4,
                fillColor: '#FFd000',
                fillOpacity: 0.35,
                });
            
            polygon2 = new google.maps.Polygon({
                path: zone2,
                geodesic: true,
                strokeColor: '#FFd000',
                strokeOpacity: 1.0,
                strokeWeight: 4,
                fillColor: '#cccccc',
                fillOpacity: 0.35,
            }); 
            
            polygon3 = new google.maps.Polygon({
                path: zone3,
                geodesic: true,
                strokeColor: '#FFd000',
                strokeOpacity: 1.0,
                strokeWeight: 4,
                fillColor: 'green',
                fillOpacity: 0.35,
            }); 
            
            polygon4 = new google.maps.Polygon({
                paths: zone4,
                geodesic: true,
                strokeColor: '#FFd000',
                strokeOpacity: 1.0,
                strokeWeight: 4,
                fillColor: 'blue',
                fillOpacity: 0.35,
            }); 
            

            polygon1.setMap(map);
            polygon2.setMap(map);
            polygon3.setMap(map);
            polygon4.setMap(map);
        }
        {# var center = new google.maps.LatLng(52.256098, 21.009818); #}
        

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&callback=initMap';
            document.body.append(script);
            
            
        }
        

        if(jQuery(window).innerWidth() >= 1199) {
            loadScript();
        }
    </script>

    

    <script src="{{ asset('js/jquery.nice-number.js') }}?v={{ 'now'|date('U') }}"></script>
    <script type="text/javascript">
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        var promo_product_id;

        {% if app.request.get('promo_product_id') != "" %}
            promo_product_id = "{{app.request.get('promo_product_id')}}";
        {% endif %}

        {% if app.request.get('gift_product_id') != "" %}
            var gift_product_id = "{{app.request.get('gift_product_id')}}";
        {% endif %}
    </script>
    <script src="{{ asset('js/getFormsData.js') }}"></script>
    <script src="{{ asset('js/checkout-autofill.js') }}"></script>
    <script src="{{ asset('js/checkout.js') }}?v={{ 'now'|date('U') }}"></script>
    
    <script src="{{ asset('js/wishlist.js') }}"></script>
    <script src="{{ asset('js/customer.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    {% if app.request.attributes.get('_route') == 'product_view' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    {% endif %}
    
    <script src="{{ asset('js/index.bundle.js') }}?v={{ 'now'|date('U') }}"></script>

    <script type="text/javascript">
        localStorage.setItem('locale', '{{ app.request.locale }}');

        // save utm to local storage
        var rawdate = new Date();
        var dateUTC = new Date(rawdate.getUTCFullYear(), rawdate.getUTCMonth(), rawdate.getUTCDate() + 14,
        rawdate.getUTCHours(), rawdate.getUTCMinutes(), rawdate.getUTCSeconds());

        var dateString = dateUTC.toUTCString();

        {% if app.request.get('utm_source') != "" %}
            document.cookie = "utm_source={{app.request.get('utm_source')}}; expires='"+dateString+"'";
        {% endif %}

        {% if app.request.get('utm_campaign') != "" %}
            document.cookie = "utm_campaign={{app.request.get('utm_campaign')}}; expires='"+dateString+"'";
        {% endif %}

        {% if app.request.get('utm_medium') != "" %}
            document.cookie = "utm_medium={{app.request.get('utm_medium')}}; expires='"+dateString+"'";
        {% endif %}

        {% if app.request.get('utm_content') != "" %}
            document.cookie = "utm_content={{app.request.get('utm_content')}}; expires='"+dateString+"'";
        {% endif %}
    </script>

    {% if quote.getQuoteItems()|length > 0 %}
        <script type="text/javascript">
            checkout.updateDeliveryCost();
            checkout.calculateTotalProductCharacteristics();
        </script>
    {% endif %}

    <script type="text/javascript">
        jQuery(function($) {
            if(!$('#loginPhone').hasClass('initialized')) {
                $('#loginPhone').on('keyup', function() {
                    if (this.value.includes("+48 ") === false) {
                        this.value = "+48 " + this.value.substr(this.value.indexOf(' ') + 1);
                        this.value = this.value.replace("+48 +48", "+48 ");
                    }
                });
                $('#loginPhone').addClass('initialized');
            }

        });


        
    </script>

    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        var products = [];
        $(".products-el").each(function(index){
            var product = $(this);
            products.push({
                'name': product.data('name'),
                'id': product.data('product-id'),
                'price': product.data('price'),
                'brand': 'Seabus',
                'category': product.data('category'),
                'list': product.data('list'),
                'position': (index+1),
                'affiliation': 'Warsaw'
            });
        });
        dataLayer.push({
            'ecommerce': {
                'currencyCode': 'PLN',
                'impressions': products
            },
            'event': 'gtm-ee-event',
            'gtm-ee-event-category': 'Enhanced Ecommerce',
            'gtm-ee-event-action': 'Product Impressions',
            'gtm-ee-event-non-interaction': 'True',
        });

        console.log(window.dataLayer);

    </script>

{% endblock %}