<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/assets/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/assets/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/assets/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('images/assets/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZ5S493');</script>
    <!-- End Google Tag Manager -->

    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '4101065529999050');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=4101065529999050&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Meta Pixel Code -->

    <title>{% block title %}
            {% if Title is defined %}
                {{ Title }}
            {% else %}
                {{ defaultMetaTitle }}
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="
        {% block description %}
            {% if Description is defined %}
                {{ Description }}
            {% else %}
                {{ defaultMetaDescription }}
            {% endif %}
        {% endblock %}">

    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        {% if app.request.attributes.get('_route') == 'product_view' %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
        {% endif %}
        <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.structure.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.min.css') }}?v={{ 'now'|date('U') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}?v={{ 'now'|date('U') }}">
    {% endblock %}
</head>