<li class="nav-item">
    <a data-path="/{{ app.request.locale }}" href="/{{ app.request.locale }}" aria-current="page">{% trans %}home{% endtrans %}</a>
</li>
<li class="nav-item">
    <a data-path="/{{ app.request.locale }}/promotions" href="/{{ app.request.locale }}/promotions">{% trans %}promotions{% endtrans %}</a>
</li>
<li class="nav-item">
    <a data-path="/{{ app.request.locale }}/delivery" href="/{{ app.request.locale }}/delivery">{% trans %}delivery{% endtrans %}</a>
</li>

<li class="nav-item">
    <a data-path="/{{ app.request.locale }}/about" href="/{{ app.request.locale }}/about">{% trans %}about{% endtrans %}</a>
</li>
<li class="nav-item">
    <a data-path="/{{ app.request.locale }}/contact" href="/{{ app.request.locale }}/contact">{% trans %}contact{% endtrans %}</a>
</li>